body{
  background-color: #C0C0C0;
  line-height: 1.7;
}

nav{
	background-color: #A9A9A9;

}

a {
	text-decoration: none;
	color: white;
}


#container {
	width: 80rem;
	margin-left: auto;
	margin-right: auto;
}

.logo-box {
background-color: #D3D3D3;
}



.logo {
	width: 10rem;
}


.nav-bar{
	text-decoration: none;
	display: inline-block;

}

.nav-bar ul {
	list-style-type: none;
	display: inline;
	float: right;
}

.nav-bar li{
	display: inline-block;
	margin-left: 4rem;
}
.nav-bar li a:hover,
.nav-bar li a:active {
    border-bottom: 2px solid #e67e22;
}

.main-content {
	background:#ffffffe3;
	margin-right: -4rem;
	padding: 1rem;

}

.left-column {
	float: left;
	width: 70%;
}
.right-column {
	float: right;
	width: 25%;
	background: red;
	padding: 3px;
}


.footer {
	background: #808080;
	padding: 1rem;
	clear: both;
}
